<div class="main-content clearfix">
  <div class="companies">
    <div class="container">
      <div class="header">
        <h2>IT`S HAPPENING</h2>
        <div class="image-header-wrapper">
          <img src="images/logos/Copy of black-now.png" alt="company-logo">
        </div>
        <h3>THE BEST DEALS FROM OVER 1,000 STORES, INCLUDING:</h3>
        <slick settings="slickConfig" class="companies-carousel">
          <a ng-repeat="item in allCompanies" ng-click="">
            <img src="images/company/{{item.image}}" alt="some SEO">
            <p>{{item.quantity}} Deals</p>
          </a>
        </slick>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <img src="images/logos/Copy of black-now.png" alt="company-logo">
      <h3>TOP POPULAR DEALS:</h3>
    </div>
    <ul class="products">
      <li ng-repeat="item in allProducts" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-product" ng-click="">
        <div>
          <div class="image-wrapper"><img src="images/products/{{item.image}}" alt="some SEO"></div>
          <p class="name-products">{{item.name}}<a href="#">See Deals<span class="glyphicon glyphicon-menu-right"></span></a></p>
          <p class="quntity"><img src="images/icons/Copy of popular-v.png">{{item.quantity}} deals</p>
        </div>
      </li>
    </ul>
  </div>
</div>
